{namespace onpage=HDNET\OnpageIntegration\ViewHelpers}
<table class="table">
	<thead>
	<tr>
		<th>Beschreibung</th>
		<th>Priorität</th>
		<th>Fehler</th>
	</tr>
	</thead>
	<tbody>
	<f:for each="{metaData}" as="meta" iteration="iterator">
		<tr>
			<td>
				<f:link.action action="detail" arguments="{section: section, call: iterator.index }">{meta.description}
				</f:link.action>
			</td>
			<td>
				<f:for each="{onpage:arrayPad(size:meta.priority)}" as="empty">&#8226;&bull;</f:for>
			</td>
			<td>
				<f:if condition="{meta.errors}">
					<f:then>
						<span class="label label-danger">{meta.errors}</span>
					</f:then>
					<f:else>
						<span class="label label-success">0</span>
					</f:else>
				</f:if>
			</td>
		</tr>
	</f:for>
	</tbody>
</table>
