	<div class="page-header">
		<h4>Graph: Sitemap(Gruppe)</h4>
	</div>
	<f:render partial="NoData"/
	<div class="page-header">
		<h4>Tabelle: Was ist hinterlegt ?</h4>
	</div>
	<f:if condition="{table}">
		<f:then>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>URL</th>
					<th>Meta Description</th>
					<th>Description Duplikate (Zähler)</th>
				</tr>
				</thead>
				<tbody>
				<f:for each="{table}" as="entry">
					<tr>
						<td>
							<a href="{entry.url}">{entry.url}</a>
						</td>
						<td>{entry.meta_description}</td>
						<td>{entry.count_duplicate_descriptions }</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<f:render partial="NoData"/>
		</f:else>
	</f:if>
