	<div class="page-header">
		<h4>Graph: Sitemap(Gruppe)</h4>
	</div>
	<f:render partial="NoData"/>
	<div class="page-header">
		<h4>Tabelle: Was ist hinterlegt ?</h4>
	</div>
	<f:if condition="{table}">
		<f:then>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>OPR</th>
					<th>Dokument</th>
					<th>Gefunden in der Sitemap.xml(URL)</th>
					<th>Interne Links</th>
				</tr>
				</thead>
				<tbody>
				<f:for each="{table}" as="entry">
					<tr>
						<td>
							<f:format.number decimals="0">{entry.opr}</f:format.number>
						</td>
						<td>{entry.meta_title}
							<small><a href="{entry.url}">{entry.url}</a></small>
						</td>
						<td>{entry.sitemap_url}</td>
						<td>{entry.count_links_incoming_internal}</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<f:render partial="NoData"/>
		</f:else>
	</f:if>
