<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
			xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default" xmlns:f="http://www.w3.org/1999/html" xmlns:f="http://www.w3.org/1999/html"/>
<f:section name="Content">
	<button class="btn btn-default" onclick="window.history.back()">
		Zurück
	</button>
	<div class="page-header">
		<h4>Graph: Sitemap(Gruppe)</h4>
	</div>
	<f:render partial="NoData"/>
	<div class="page-header">
		<h4>Tabelle: Was ist hinterlegt ?</h4>
	</div>
	<f:if condition="{table}">
		<f:then>
			<table class="table table-striped">
				<thead>
				<tr>
					<f:if condition="{table.0.url}">
						<th class="width-50">URL</th>
					</f:if>
					<f:if condition="{table.0.meta_description}">
						<th class="width-40">Meta Description</th>
					</f:if>
					<f:if condition="{table.0.count_duplicate_descriptions}">
						<th class="text-center padding-r-1">Description Duplikate Zähler</th>
					</f:if>
					<f:if condition="{table.0.meta_title}">
						<th>Meta Title</th>
					</f:if>
					<f:if condition="{table.0.count_duplicate_titles}">
						<th class="text-center padding-r-1">Title Duplikate Zähler</th>
					</f:if>
					<f:if condition="{table.0.opr}">
						<th class="width-3 text-center">OPR</th>
					</f:if>
					<f:if condition="{table.0.document}">
						<th class="width-40">Dokument</th>
					</f:if>
					<f:if condition="{table.0.redirect_type_group}">
						<th>Art der Weiterleitung (Gruppe)</th>
					</f:if>
					<f:if condition="{table.0.redirect_category}">
						<th>Weiterleitung (Gruppe)</th>
					</f:if>
					<f:if condition="{table.0.sitemap_url}">
						<th>Gefunden in der Sitemap.xml(URL)</th>
					</f:if>
					<f:if condition="{table.0.canonical_group}">
						<th>Canonical Status (Gruppe)</th>
					</f:if>
					<f:if condition="{table.0.robots_allowed_group}">
						<th>Durch Robots.txt freigegeben (Gruppe)</th>
					</f:if>
					<f:if condition="{item.count_translations}">
						<td>Übersetzungen (Anzahl)</td>
					</f:if>
					<f:if condition="{item.count_incoming_translations}">
						<td>Verweisende Übersetzungen (Anzahl)</td>
					</f:if>
					<f:if condition="{table.0.h1}">
						<th>H1 Inhalt</th>
					</f:if>
					<f:if condition="{table.0.count_h1}">
						<th>Anzahl H1 Tags</th>
					</f:if>
					<f:if condition="{table.0.count_duplicate_h1}">
						<th>H1 Duplikate (Zähler)</th>
					</f:if>
					<f:if condition="{table.0.hash}">
						<th>Fingerabdruck des Dokuments</th>
					</f:if>
					<f:if condition="{table.0.image_alt}">
						<th>ALT Text</th>
					</f:if>
					<f:if condition="{table.0.image_url}">
						<th>Vorschau des Bildes</th>
					</f:if>
					<f:if condition="{table.0.image_url}">
						<th>URL des Bildes</th>
					</f:if>
					<f:if condition="{table.0.count_words}">
						<th>Wörter im Text</th>
					</f:if>
					<f:if condition="{table.0.twitter}">

					</f:if>
					<f:if condition="{table.0.facebook}">

					</f:if>
					<f:if condition="{table.0.count_links_incoming_internal}">
						<th class="text-right padding-r-1">Interne Links insgesamt (Zähler)</th>
					</f:if>
					<f:if condition="{table.0.count_incoming_references}">
						<th>Eingehende Verweise</th>
					</f:if>
					<f:if condition="{table.0.header_status}">
						<th>Status Code</th>
					</f:if>
					<f:if condition="{table.0.reference_from_language}">
						<th>hreflang Sprache</th>
					</f:if>
					<f:if condition="{table.0.file_size_aggregated}">
						<td>Aggregierte Dateigröße (Inkl. Dateien in kb)</td>
					</f:if>
					<f:if condition="{table.0.language}">
						<th>Sprache</th>
					</f:if>
					<f:if condition="{table.0.country}">
						<th>Land</th>
					</f:if>
					<f:if condition="{table.0.compression_type}">
						<th>Komprimierungs-Art</th>
					</f:if>
				</tr>
				</thead>
				<tbody>
				<f:for each="{table}" as="item">
					<tr>
						<f:if condition="{item.url}">
							<td class="width-50"><a href="{item.url}" target="_blank">{item.url}</a></td>
						</f:if>
						<f:if condition="{item.meta_description}">
							<td class="width-40">{item.meta_description}</td>
						</f:if>
						<f:if condition="{item.count_duplicate_descriptions}">
							<td class="text-center padding-r-1">{item.count_duplicate_descriptions}</td>
						</f:if>
						<f:if condition="{item.meta_title}">
							<td>{item.meta_title}</td>
						</f:if>
						<f:if condition="{item.count_duplicate_titles}">
							<td class="text-center padding-r-1">{item.count_duplicate_titles}</td>
						</f:if>
						<f:if condition="{item.opr}">
							<td class="width-3 text-center">
								<f:if condition="{item.opr} > 0">
									<f:then>
										<f:format.number decimals="0">{item.opr}</f:format.number>
									</f:then>
									<f:else>
										0
									</f:else>
								</f:if>
							</td>
						</f:if>
						<f:if condition="{item.document}">
							<td class="width-40">
								<div class="document-group">
									<div class="document-icon">
										{item.document.mime}
									</div>
									<div class="document-basics">
										<span class="title">
											{item.document.meta_title}
										</span>
										<span class="url">
											<a href="{item.document.url}" target="_blank">{item.document.url}</a>
										</span>
									</div>
								</div>
							</td>
						</f:if>
						<f:if condition="{item.redirect_type_group}">
							<td>{item.redirect_type_group}</td>
						</f:if>
						<f:if condition="{item.redirect_category}">
							<td>{item.redirect_category}</td>
						</f:if>
						<f:if condition="{item.sitemap_url}">
							<td>{item.sitemap_url}</td>
						</f:if>
						<f:if condition="{item.canonical_group}">
							<td>{item.canonical_group}</td>
						</f:if>
						<f:if condition="{item.robots_allowed_group}">
							<td>{item.robots_allowed_group}</td>
						</f:if>
						<f:if condition="{item.count_translations}">
							<td>{item.count_translations}</td>
						</f:if>
						<f:if condition="{item.count_incoming_translations}">
							<td>{item.count_incoming_translations}</td>
						</f:if>
						<f:if condition="{item.h1}">
							<td>{item.h1}</td>
						</f:if>
						<f:if condition="{item.count_h1}">
							<td>{item.count_h1}</td>
						</f:if>
						<f:if condition="{item.count_duplicate_h1}">
							<td>{item.count_duplicate_h1}</td>
						</f:if>
						<f:if condition="{item.hash}">
							<td>{item.hash}</td>
						</f:if>
						<f:if condition="{item.image_alt}">
							<td>KEINE</td>
						</f:if>
						<f:if condition="{item.image_url}">
							<td><img src="{item.image_url}" height="100" width="100"></td>
						</f:if>
						<f:if condition="{item.image_url}">
							<td>{item.image_url}</td>
						</f:if>
						<f:if condition="{item.count_words}">
							<td>{item.count_words}</td>
						</f:if>
						<f:if condition="{table.twitter}">
						</f:if>
						<f:if condition="{table.facebook}">
						</f:if>

						<f:if condition="{item.count_links_incoming_internal}">
							<td class="text-right padding-r-1">{item.count_links_incoming_internal} Links</td>
						</f:if>
						<f:if condition="{item.count_incoming_references}">
							<td>{item.count_incoming_references} mal gefunden</td>
						</f:if>
						<f:if condition="{item.header_status}">
							<td>{item.header_status}</td>
						</f:if>
						<f:if condition="{item.reference_from_language}">
							<td>{item.reference_from_language}</td>
						</f:if>
						<f:if condition="{item.file_size_aggregated}">
							<td>{item.file_size_aggregated}</td>
						</f:if>
						<f:if condition="{item.language}">
							<td>{item.language}</td>
						</f:if>
						<f:if condition="{item.country}">
							<td>{item.country}</td>
						</f:if>
						<f:if condition="{item.compression_type}">
							<td>{item.compression_type}</td>
						</f:if>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<f:render partial="NoData"/>
		</f:else>
	</f:if>
</f:section>
