<f:layout name="Default" xmlns:f="http://www.w3.org/1999/html" xmlns:f="http://www.w3.org/1999/html"/>
<f:section name="content">
	<div class="page-header">
		<h4>Graph: Sitemap(Gruppe)</h4>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading"><span class="glyphicon glyphicon-exclamation-sign"></span> Keine Daten für diese
			Anfrage
		</div>
		<div class="panel-body">Das könnte bedeuten, dass für die gewählte Filterkombination keine Daten verfügbar sind
			oder generell keine Dokumente diesen Fehlertypus entsprechen. Hinweis: Möglicherweise muss die
			Filterkombination angepasst werden.
		</div>
	</div>
	<div class="page-header">
		<h4>Tabelle: Was ist hinterlegt ?</h4>
	</div>
	<f:if condition="{table}">
		<f:then>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>OPR</th>
					<th>Dokumente</th>
					<th>Dateigröße</th>
				</tr>
				</thead>
				<tbody>
				<f:for each="{table}" as="entry">
					<tr>
						<td>
							<f:format.number decimals="0">{entry.opr}</f:format.number>
						</td>
						<td>{entry.dokument}
						</td>
						<td>{entry.file_size}</td>
					</tr>
				</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<div class="panel panel-primary">
				<div class="panel-heading"><span class="glyphicon glyphicon-exclamation-sign"></span> Keine Daten für diese
					Anfrage
				</div>
				<div class="panel-body">Das könnte bedeuten, dass für die gewählte Filterkombination keine Daten verfügbar sind
					oder generell keine Dokumente diesen Fehlertypus entsprechen. Hinweis: Möglicherweise muss die
					Filterkombination angepasst werden.
				</div>
			</div>
		</f:else>
	</f:if>
</f:section>
